/* Barlow Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&600&display=swap");

/* Fraunces Font */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --primary-dark-blue: hsl(198, 62%, 26%);
    --primary-dark-moderate-cyan: hsl(168, 34%, 41%);
    --neutral-very-dark-desatuated-blue: hsl(212, 27%, 19%);
    --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-barlow: "Barlow", sans-serif;
    --font-fraunces: "Fraunces", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark_desaturated_cyan {
    color: var(--primary-dark-desaturated-cyan);
}

.very_dark_blue {
    color: var(--primary-dark-blue);
}

p {
    font-family: var(--font-barlow);
    font-size: 16px;
    color: var(--neutral-dark-grayish-blue);
    line-height: 1.5;
    margin-bottom: 50px;
}

a {
    font-family: var(--font-barlow);
    text-decoration: none;
    color: inherit;

    padding-right: 30px;
}

h2 {
    font-family: var(--font-fraunces);
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--neutral-very-dark-desatuated-blue);
    margin-bottom: 30px;
}

h3 {
    color: var(--neutral-grayish-blue);
    letter-spacing: 3.5px;
    font-weight: 900;
}

span {
    font-family: var(--font-fraunces);
    font-weight: 900;
    letter-spacing: 2px;
    align-self: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

small {
    display: block;
    color: var(--neutral-grayish-blue);
    font-family: var(--font-barlow);
    padding-top: 10px;
}

strong {
    position: relative;
}

.brand strong::before {
    /* Highlight color */
    font-family: "Fraunces", sans-serif;
    background-color: var(--primary-yellow);
    opacity: 0.2;
    content: "";
    position: absolute;
    width: calc(100% + 14px);
    height: 50%;
    left: -4px;
    bottom: -4px;
    z-index: -1;
    border-radius: 3px;
}

.uppercase {
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 89vh;
    background-image: url("./images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--neutral-white);
}
nav .logo {
    width: 100%;
    height: 100%;
}

.logo img {
    height: 28px;
}

#menuIcon {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.triangle {
    margin-top: 20px;
    border-top: 30px solid transparent;
    border-right: 30px solid white;
}

.dropdown-content {
    position: absolute;
    right: 0;
    display: none;
    width: 90vw;
    min-width: 300px;
    color: var(--neutral-very-dark-grayish-blue);
    text-align: center;
    z-index: 2;
}

.dropdown-content__links {
    background-color: var(--neutral-white);
    padding: 20px;
}

.dropdown-content a {
    display: block;
    padding: 30px;
    font-size: 1.25rem;
}

.dropdown-content button {
    margin: 20px;
}

#contactBtn {
    font-family: var(--font-fraunces);
    background-color: var(--primary-yellow);
    padding: 15px 20px;
    border: 1px solid var(--primary-yellow);
    border-radius: 30px;
}

.header__text {
    width: 100%;
    margin: 18vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerTitle {
    font-family: "Fraunces", sans-serif;
    color: var(--neutral-white);
    letter-spacing: 0.5rem;
    margin-bottom: 14vh;
    font-size: 2.75rem;
    text-align: center;
}

.bg__image {
    height: 45%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.transform {
    background-image: url("./images/mobile/image-transform.jpg");
}

.service__item {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.multimedia {
    height: 1200px;
}

.service__item-text {
    width: 100%;
    height: 50%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}

.brand strong::before {
    /* Highlight color */
    font-family: "Fraunces", sans-serif;
    background-color: var(--primary-yellow);
    opacity: 0.2;
    content: "";
    position: absolute;
    width: calc(100% + 14px);
    height: 50%;
    left: -6px;
    bottom: -4px;
    z-index: -1;
    border-radius: 4px;
}

.standout {
    background-image: url("./images/mobile/image-stand-out.jpg");
}

.collaboration strong::before {
    /* Highlight color */
    font-family: "Fraunces", sans-serif;
    background-color: var(--primary-soft-red);
    opacity: 0.2;
    content: "";
    position: absolute;
    width: calc(100% + 12px);
    height: 50%;
    left: -6px;
    bottom: -4px;
    z-index: -1;
    border-radius: 4px;
}

.multimedia .bg__image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.graphic {
    background-image: url("./images/mobile/image-graphic-design.jpg");
}

.photography {
    background-image: url("./images/mobile/image-photography.jpg");
}

.multimedia__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3px;
    text-align: center;
}

.testemonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 30px;
}

.client {
    padding: 20px;
}

.avatar {
    border-radius: 50%;
    width: 30%;
    margin: 40px;
}

.author {
    letter-spacing: normal;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.gallery__image {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.milkbottles {
    background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
}
.orange {
    background-image: url(./images/mobile/image-gallery-orange.jpg);
}

.cone {
    background-image: url(./images/mobile/image-gallery-cone.jpg);
}

.sugarcubes {
    background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}

footer {
    height: 35vh;
    background-color: #90d4c5;
    color: var(--primary-dark-moderate-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.footer__nav {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    padding: 0;
}

.social_media_link {
    color: var(--primary-dark-moderate-cyan);
}

.social_media_link a {
    padding: 5px;
}

.fa-brands:hover {
    color: var(--neutral-white);
}

.links a:hover,
.icon:hover {
    color: var(--neutral-white);
}

.attribution a {
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 4000px) and (min-width: 600px) {
    p {
        font-size: 18px;
    }

    #headerTitle {
        font-size: 3.5rem;
        margin-bottom: 40px;
    }
    span {
        align-self: flex-start;
    }

    header {
        background-image: url("./images/desktop/image-header.jpg");
        width: 100%;
    }

    .header__text {
        margin: 18vh auto;
    }

    nav {
        padding: 30px 40px;
        width: 100%;
    }

    .logo img {
        height: 33px;
    }

    #menuIcon {
        display: none;
    }

    .triangle {
        display: none;
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .dropdown-content {
        padding-right: 40px;
        position: relative;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .dropdown-content__links {
        width: 100%;
        background-color: transparent;
        color: var(--neutral-white);
        float: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }

    .dropdown-content a {
        display: inline-block;
        padding: 30px;
        margin-right: 30px;
    }

    #contactBtn {
        background-color: var(--neutral-white);
        border: 1px solid var(--neutral-white);
        margin: 0 40px 0 0;
    }

    #contactBtn:hover {
        background-color: hsla(0, 0%, 100%, 0.3);
        border: 1px solid hsla(0, 0%, 100%, 0.01);
        color: var(--neutral-white);
    }

    .service__item {
        display: flex;
        width: 100%;
        height: 70vh;
        flex-direction: row;
    }

    .brand {
        display: flex;
        flex-direction: row-reverse;
    }

    .bg__image {
        height: 100%;
        width: 50%;
        background-size: cover;
    }

    .service__item-text {
        height: 100%;
        width: 50%;
        padding: 150px;
        text-align: left;
    }

    .standout {
        background-image: url("./images/desktop/image-stand-out.jpg");
    }
    .collaboration {
        display: flex;
    }

    .graphic {
        background-image: url("./images/desktop/image-graphic-design.jpg");
    }

    .photography {
        background-image: url("./images/desktop/image-photography.jpg");
    }

    .multimedia__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 30px 160px;
        text-align: center;
    }

    .testemonials {
        padding: 100px;
    }

    .clients {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px 30px;
    }

    .gallery {
        height: 448px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .gallery__image {
        width: 25%;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }

    .milkbottles {
        background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    }
    .orange {
        background-image: url(./images/desktop/image-gallery-orange.jpg);
    }

    .cone {
        background-image: url(./images/desktop/image-gallery-cone.jpg);
    }

    .sugarcubes {
        background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    }

    .footer__nav {
        padding: 0 550px;
    }
}
